## -*- coding: utf-8 -*-
<%inherit file="navbar.tmpl"/>
<%block name="core">
    <div class="row clearfix">
        <div class="col-md-4 column">
          <div class="well">
            % if not changed:
            <form method='POST' role="form" class="form-reset-password" action="reset-password" data-toggle="validator">
              <h2 class="form-signin-heading">Please enter your new password:</h2>
              <input type="hidden" class="form-control" name="token" value="${token}">
              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
                    <input type="password" id="password1" name="password1" class="form-control" data-remote="/checkppolicy" autocomplete="off" placeholder="Password" required autofocus>
                </div>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon-password2"><span class="glyphicon glyphicon-repeat"></span></span>
                    <input type="password" id="password2" name="password2" class="form-control" data-match="#password1" data-match-error="Passwords don't match" autocomplete="off" placeholder="Confirm" required autofocus>
                </div>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-ok"></span> Set new password</a>
                </div>
              </div>
            </form>
            % else:
            <h2>Your password was changed.</h2>
            <h2><a href="/">Return to log in</a></h2>
            % endif
          </div>
        </div>
    </div>
</%block>
